<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="use_rviz" default="true"/>
  <arg name="record_bag" default="false"/>
  <arg name="reference_speed_mps" default="2.0"/>
  <arg name="drive_duration_s" default="12.0"/>
  <arg name="stop_ramp_duration_s" default="3.0"/>
  <arg name="target_laps" default="0.0"/>
  <arg name="initial_x_m" default="0.1277221954"/>
  <arg name="initial_y_m" default="-2.0034035920"/>
  <arg name="initial_z_m" default="0.5"/>
  <arg name="initial_yaw_rad" default="-0.0019451707"/>
  <arg name="maximum_lateral_error_m" default="0.8"/>
  <arg name="maximum_yaw_error_rad" default="0.7"/>
  <arg
    name="output_directory"
    default="/workspace/results/cascaded_p/simulator_run"/>

  <include file="$(find gem_sysid)/launch/sysid_sim.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_rviz" value="false"/>
    <arg name="cmd_timeout" value="0.5"/>
    <arg name="x" value="$(arg initial_x_m)"/>
    <arg name="y" value="$(arg initial_y_m)"/>
    <arg name="z" value="$(arg initial_z_m)"/>
    <arg name="yaw" value="$(arg initial_yaw_rad)"/>
  </include>

  <node
    if="$(arg use_rviz)"
    pkg="rviz"
    type="rviz"
    name="cascaded_p_rviz"
    ns="gem"
    args="-d $(find gem_control)/config/full_mpc.rviz"
    output="screen"/>

  <node
    if="$(arg record_bag)"
    pkg="rosbag"
    type="record"
    name="cascaded_p_recorder"
    output="screen"
    args="-o /workspace/results/cascaded_p/cascaded_p_run
      /clock
      /gem_control/cascaded_p/ackermann_cmd_stamped
      /gem_sysid/ackermann_cmd_stamped
      /gem_sysid/profile_start
      /gem_sysid/commissioning_delay_ms
      /gem/ackermann_cmd
      /gem/base_footprint/odom
      /gem/left_steering_ctrlr/command
      /gem/right_steering_ctrlr/command"/>

  <node
    pkg="gem_sysid"
    type="excitation_node"
    name="cascaded_p_phase_commissioning"
    output="screen">
    <param
      name="profile_csv"
      value="$(find gem_control)/profiles/mpc_commissioning.csv"/>
    <param name="command_topic" value="/gem/ackermann_cmd"/>
    <param
      name="stamped_command_topic"
      value="/gem_sysid/ackermann_cmd_stamped"/>
    <param name="sample_period_s" value="0.1"/>
    <param name="max_speed_mps" value="5.5"/>
    <param name="max_abs_steering_rad" value="0.30"/>
    <param name="startup_delay_s" value="5.0"/>
    <param name="subscriber_timeout_s" value="10.0"/>
    <param name="enable_phase_commissioning" value="true"/>
    <param name="target_takeover_delay_s" value="0.005"/>
    <param name="commissioning_trials" value="10"/>
    <param name="commissioning_steering_rad" value="0.02"/>
    <param name="commissioning_batch_span_s" value="0.01"/>
    <param name="commissioning_response_timeout_s" value="5.0"/>
  </node>

  <node
    pkg="gem_control"
    type="run_cascaded_p.py"
    name="cascaded_p_controller"
    output="screen"
    required="true">
    <param name="reference_speed_mps" value="$(arg reference_speed_mps)"/>
    <param name="drive_duration_s" value="$(arg drive_duration_s)"/>
    <param name="stop_ramp_duration_s" value="$(arg stop_ramp_duration_s)"/>
    <param name="target_laps" value="$(arg target_laps)"/>
    <param
      name="maximum_lateral_error_m"
      value="$(arg maximum_lateral_error_m)"/>
    <param
      name="maximum_yaw_error_rad"
      value="$(arg maximum_yaw_error_rad)"/>
    <param name="output_directory" value="$(arg output_directory)"/>
  </node>
</launch>
